PORT=3000

# Credenciales de Transbank (valores de integración por defecto)
TBK_CC=597055555532
TBK_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C

# Ambiente: "production" o "integration"
TBK_ENVIRONMENT=integration

# URL a la que Webpay redirige después del pago
RETURN_URL=http://localhost:5173/commit
